body{
    background-color: beige;
}
.wrap {
    float: left;
    padding: 10px;
}

div{
    padding: 10px;
}
p{
    font-size: 18px;
}
.section {
    overflow: hidden;
    margin-bottom: 20px;
}
ul{
    margin-left: 15px;
}
.text{
    overflow: hidden;
}
footer{
    text-align: center;
}
h1{
    text-align: center;
}
